.container {
  text-align: center;
}

#controlLeft {
  text-align: right;
}

#controlRight {
  text-align: left;
}

.remoteVideo {
  background: orange;
  width: 240px;
  height: 135px;
}

.localVideo {
  background: purple;
  width: 128px;
  height: 72px;
}

footer {
  margin-top: 16px;
  text-align: center;
}

h2 {
  font-size: 1rem;
}
